* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    
}

.row{
    display: flex;
    height: auto;
    width: 100%;
}

.row::after{
    display: block;
    float: both;
    content: "";
}

/* Column Definition*/
.col-3 {
    width: 25%;
}

.col-4{
    width: 33.33%;
}

.col-6{
    width: 50%;
}

.col-12{
    width:100%;
}

.container{
    background: linear-gradient(brown, burlywood);
    height:auto;
    padding: 10% 5%;
    padding-bottom: 0%;
    
}
/* First Row*/
.content{
    text-align: center;
    padding-bottom: 7%;
}
div.content p{
    line-height: 20px;
    font-size: 25px;
    
}

div h1{
font-size: 60px;
}

/*Second Row */
.login{ 
    padding: 8% 20%;
    background:linear-gradient(wheat, gray);
    -moz-linear-gradient:(wheat, gray);
    -webkit-linear-gradient:(wheat, gray);
   
    border: double 2px rgb(236, 232, 232);
   margin: 3%;
    border-bottom-right-radius:  30px;
    border-top-left-radius:  30px;
    line-height: 25px;
    font-size: 20px;
   
}

/* Button Styles*/
.login button{
width:100%;
height: 65px;
font-size:30px;
display: block;
text-align: center;
border:0;
background:rgb(121, 121, 119);
color:brown;
font-weight: bold;
}

.login button:hover{
background: brown;
color: rgb(121, 121, 119);
}

.login button:active{
background: red;
color:rgb(131, 121, 119);
}

ul{
    list-style-type: none;
}
